body {
background-color: #e7e7e7;
}

#main-navigation {
background-color: #390281;
box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
}

#all-posts {
margin: 7rem auto;
width: 90%;
max-width:80rem;


}

#all-posts h2 {
text-align: center;
font-size: 3rem;
color: #ad4646;

margin: 3rem 0;
}

ul {
list-style: none;
margin: 0;
padding: 0;
display: grid;
grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
gap: 1.5rem;
text-align: center;
}

.post img {
width: 7rem;
height: 7rem;
border-radius: 50%;
}

.post a {
height: 22rem;
transform-origin: center;
box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
border-radius: 12px;
background-color: white;
text-decoration: none;
color:#fff;
}
.post__content h3{
    font-size: 2rem;
}
.post__content p{
    font-size: 1.5rem;
}
